body {
    background: linear-gradient(to top, #f1eaeab4, gray); /* sfondo sfumato */
    height: 100vh;
}

.card {
    width: 95%; 
    margin: auto; 
    margin-top: 5rem; 
    border-radius: 5px;
    background-color: #f1eaeab4; 
    border: none;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #800000e0, #af0505bf);
}

.form-group {
    width: 80%;
    margin: auto;
}
 
/* Stile e stati dei pulsanti */
.btn-red {
    background-color: #800000e0;
    border-color: #800000e0;
    color: white; 
}

.btn-red:hover {
    background-color: #af0505bf; 
    border-color: #af0505bf;
    color: white;
}
.btn-red:focus {
    background-color: #af0505bf; 
    border-color: #af0505bf;
    color: white;
}

.btn-red:active {
    background-color: #800000e0 !important;
    border-color: #800000e0 !important;
    color: white !important;
}

h3 {
    color: white;
}

#messageBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 96, 96, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
}